node_modules
.cache/
dist/
.env
.env.local
.env.*.local
.env.development
.env.production
.DS_Store
coverage/
.vscode/
.distignore

# Add to your .gitignore
.DS_Store
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/themes/twenty*/