@use '../scss/variable' as v;
@use '../scss/colors' as c;

.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  .logo-header {
    display: flex;
    img {
      height: 75px;
      width: 95px;
    }
    .description {
      margin-top: 20px;
      .name {
        font-weight: v.$font-weight-bold;  // Use the namespace 'v'
      }
    }
  }
  .right-header {
    margin-top: 20px;
  }
  
  .navbar-brand {
    a {
      text-decoration: none;
      color: #000;
      font-weight: v.$font-weight-bold;  // Use the namespace 'v'
    }
  }
}